/*** CONTACT PAGE ***/

/* CONTACT HEADER */
.contact {
    padding-top: 100px;
    padding-bottom: 40px;
}

.contact-paragraph {
    color: #424053;
    line-height: 2.0;;
    margin: 5px auto;
    font-weight: lighter;
}

/* CONTACT FORM */

.contact-form {
    margin-top: 40px;
}

.contact-group {
    margin-bottom: 30px;
}

.contact-input {
    border-radius: 0;
}

.contact-input:focus {
    border: 1px solid #5E2075;
    box-shadow: none;
}

@media (max-width: 767px) {
    .contact-form {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .contact-paragraph {
        width: 70%;
        font-size: 12px;
    }

    label {
        font-size: 13px;
    }

    .contact {
        padding-top: 90px;
    }
}

@media (max-width: 500px) {
    .contact-paragraph {
        font-size: 11px;
    }
}
